<h2>Orders</h2>
<hr class="rounded">

<p *ngIf="!authService.isInRole('admin')">
  <a [routerLink]="['/orders/new']" class="btn btn-primary">Create New Order</a>
</p>

<div *ngIf="authService.isInRole('admin')" class="mb-3">

  <hr class="rounded">
  <p><strong>Select one agent to see their campaigns:</strong></p>
  <hr class="rounded">

  <label for="sltAgent">Agent:</label>
  <select class="custom-select d-block w-100" id="sltAgent" required name="agentId" [(ngModel)]="agent.id"
    #sltAgent="ngModel" (change)="onAgentFilterChange()">
    <option *ngFor="let a of agents" value="{{ a.id }}">
      {{a.firstName}} {{ a.lastName }}
    </option>
  </select>
  <div class="alert alert-danger" *ngIf="sltAgent.touched && !sltAgent.valid">
    Please specify the agent.
  </div>
</div>

<div *ngIf="authService.isInRole('admin') && agent.id && !orders.items">
  <loading></loading>
</div>

<div *ngIf="!authService.isInRole('admin') && !orders.items">
  <loading></loading>
</div>

<div *ngIf="agent.id || !authService.isInRole('admin')">
  <div class="mb-3">
    <label for="searchOption">Search options:</label>
    <select id="searchOption" class="form-control" name="sltsearchOption" [(ngModel)]="searchOption"
      (change)="onFilterChange()">
      <option *ngFor="let c of filterSearchOptions()" value="{{ c.key }}">
        <div *ngIf="c.searchable">
          {{c.title}}
        </div>
      </option>
    </select>
  </div>

  <div>
    <p>
      <input #querySearch type="text" class="form-control" [placeholder]="setPlaceholderSearch()">
    </p>
    <p>
      <button type="button" class="btn btn-primary" (click)="search(querySearch.value)">Search</button>
    </p>
  </div>
</div>

<div *ngIf="orders.totalItems > 0">
  <table class="table table-striped">
    <thead>
      <tr>
        <th *ngFor="let c of columns" aria-labelledby="tableLabel" class="text-center">
          <div *ngIf="c.isSortable" (click)="sortBy(c.key)">
            {{c.title}}
            <i *ngIf="query.sortBy === c.key" class="fa" [class.fa-sort-asc]="query.isSortAscending"
              [class.fa-sort-desc]="!query.isSortAscending"></i>
          </div>
          <div *ngIf="!c.isSortable">
            {{c.title}}
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let o of orders.items">
        <td class="text-center">{{ o.id }}</td>
        <td class="text-center">{{ o.campaignDetail.campaignId }}</td>
        <td class="text-center">{{ o.campaignDetailId }}</td>
        <td class="text-center">{{ o.campaignDetail.customer.firstName }}</td>
        <td class="text-center">{{ o.campaignDetail.customer.lastName }}</td>
        <td class="text-center">{{ o.campaignDetail.customer.cellPhone }}</td>
        <td class="text-center">{{ o.orderDate | date:'short' }}</td>
        <td>
          <a class="btn btn-outline-success" [routerLink]="['/orders-detail/', o.id]">View Detail</a>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination [total-items]="orders.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChage($event)">
  </pagination>
</div>

<div *ngIf="orders.totalItems === 0" class="alert alert-info" role="alert">
  We didn't find any orders generated by this agent.
</div>
