<ngb-carousel #carousel [interval]="5000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
  <ng-template ngbSlide>
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img class="d-block mx-lg-auto img-fluid" src="../assets/salesTracking.jpg" alt="" width="562" height="551">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Sales Tracking</h1>
          <p class="lead">
            Kaizen helps you improve your sales tracking by campaigns strategy to sell your products.You can create and
            assign sales campaigns to existing customers in the scope of the application which allows you to record the
            sales orders achieved by the commercial agents.
          </p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img class="d-block mx-lg-auto img-fluid" src="../assets/agentsTracking.jpg" alt="" width="430" height="547">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Real Work Tracking</h1>
          <p class="lead">
            With Kaizen you can give the correct follow-up to your sales campaigns since through the follow-up that the
            system applies to commercials you can be aware of their real performance.
          </p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img class="d-block mx-lg-auto img-fluid" src="../assets/agents.jpg" alt="" width="428" height="578">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Benefits</h1>
          <p class="lead">
            Kaizen manages the information that is generated in the execution of sales campaigns, reducing manual work
            between the supervisor and the agent, providing an informative dashboard that shows key points of the
            business.
          </p>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
