<h1>Categories</h1>

<!-- Nav tabs -->
  
<!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" 
        id="basic-tab" 
        data-toggle="tab" 
        href="#basic" 
        role="tab" 
        aria-controls="basic" 
        aria-selected="true">Categories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" 
        id="photos-tab" 
        data-toggle="tab" 
        href="#photos" 
        role="tab" 
        aria-controls="photos" 
        aria-selected="false">Photos</a>
    </li>    
  </ul> -->
