<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Kaizen</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">

          <li *ngIf="authService.isAuthenticated()" class="nav-item" [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>

          <li *ngIf="authService.isInRole('admin')" class="nav-item dropdown">
            <a class="nav-link menu-item dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">Administration</a>
            <div class=" dropdown dropdown-menu">
              <a class="dropdown-item menu-item" [routerLink]="['/campaigns']">Campaigns</a>
              <a class="dropdown-item menu-item" [routerLink]="['/products']">Products</a>
              <a class="dropdown-item menu-item" [routerLink]="['/categories']">Categories</a>
              <!-- <a class="dropdown-item menu-item" [routerLink]="['/customers']">Customers</a> -->
              <div class="dropdown-divider"></div>
            </div>
          </li>

          <li *ngIf="authService.isAuthenticated()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/customers']">Customers</a>
          </li>
          <li *ngIf="authService.isAuthenticated() && !authService.isInRole('admin')" class="nav-item"
            [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/agent-campaigns']">My Campaigns</a>
          </li>
          <li *ngIf="authService.isAuthenticated() && !authService.isInRole('admin')" class="nav-item"
            [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/orders/new']">New Order</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a *ngIf="authService.isAuthenticated()" class="nav-link ">
              hello! {{this.authService.getClaim('email')}}
            </a>
          </li>

          <li *ngIf="!authService.isAuthenticated()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" class="btn btn-outline-dark" [routerLink]="['/login']">Login</a>
          </li>
          <li *ngIf="!authService.isAuthenticated()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" class="btn btn-outline-dark" [routerLink]="['/sign-up']">Sign up</a>
          </li>
          <li *ngIf="authService.isAuthenticated()" class="nav-item" [routerLinkActive]="['link-active']">
            <logout></logout>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
