<hr class="rounded">
<p><strong>My campaigns</strong></p>
<hr class="rounded">

<div *ngIf="!queryResult.items">
  <loading></loading>
</div>
<div *ngIf="queryResult.items">
  <table class="table table-striped" aria-describedby="agent-campaign-table">
    <thead>
      <tr>
        <th scope="col" *ngFor=" let c of columns" aria-labelledby="tableLabel" class="text-center">
          <div *ngIf="c.isSortable" (click)="sortBy(c.key)">
            {{c.title}}
            <em *ngIf="query.sortBy === c.key" class="fa" [class.fa-sort-asc]="query.isSortAscending"
              [class.fa-sort-desc]="!query.isSortAscending"></em>
          </div>
          <div *ngIf="!c.isSortable">
            {{c.title}}
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of queryResult.items">
        <td class="text-center">{{ c.id }}</td>
        <td class="text-center">{{ c.startDate | date:'short' }}</td>
        <td class="text-center">{{ c.finishDate | date:'short' }}</td>
        <td *ngIf="c.isActive" class="text-center"> Open </td>
        <td *ngIf="!c.isActive" class="text-center"> Closed </td>
        <td class="text-center">
          <div class="progress" data-toggle="tooltip" data-placement="right" [title]="(c.progress) /100 | percent">
            <div class="progress-bar" [class.bg-danger]="c.progress <= 25"
              [class.bg-warning]="c.progress > 25 && c.progress <= 75"
              [class.bg-info]="c.progress > 75 && c.progress <= 99.99" [class.bg-success]="c.progress === 100"
              role="progressbar" [style.width]="c.progress + '%'">
              <span class="sr-only">{{c.progress}}%</span>
            </div>
          </div>
        </td>
        <td class="text-center">
          <a class="btn btn-outline-success" [routerLink]="['/campaigns-detail/', c.id]">View Detail</a>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChage($event)">
  </pagination>
</div>
