<h2 *ngIf="product.id">Edit Product</h2>
<h2 *ngIf="!product.id">New Product</h2>

<hr class="my-4">

<form #f="ngForm" (ngSubmit)="submit()" novalidate>
  <div class="form-group">
    <label for="category">Category</label>
    <select id="category" class="form-control" [(ngModel)]="product.category.id" name="categoryId" required
      #category="ngModel">
      <option value=""></option>
      <option *ngFor="let c of categories" value="{{ c.id }}">{{ c.name }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="category.touched && !category.valid">
      Please specify the category.
    </div>
  </div>

  <div class="form-group">
    <label for="Name">Name</label>
    <input id="Name" type="text" class="form-control" [(ngModel)]="product.name" name="name" required #name="ngModel">
  </div>
  <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
    Please specify the product name.
  </div>

  <div class="form-group">
    <label for="unitPrice">Unit Price</label>
    <input id="unitPrice" type="text" class="form-control" [(ngModel)]="product.unitPrice" name="unitPrice" required
      #unitPrice="ngModel">
  </div>
  <div class="alert alert-danger" *ngIf="unitPrice.touched && !unitPrice.valid">
    Please specify the unit price.
  </div>

  <div class="form-group">
    <label for="unitsInStock">Units In Stock</label>
    <input id="unitsInStock" type="text" class="form-control" [(ngModel)]="product.unitsInStock" name="unitsInStock"
      required #unitsInStock="ngModel">
  </div>
  <div class="alert alert-danger" *ngIf="unitsInStock.touched && !unitsInStock.valid">
    Please specify the units in stock.
  </div>

  <!-- <div class="form-group">
    <label for="unitsOnOrder">Quantity Per Unit</label>
    <input id="unitsOnOrder" type="text" class="form-control" [(ngModel)]="product.unitsOnOrder" name="unitsOnOrder"
      required #unitsOnOrder="ngModel">
  </div>
  <div class="alert alert-danger" *ngIf="unitsOnOrder.touched && !unitsOnOrder.valid">
    Please specify the units on order.
  </div> -->

  <div>
    <p>Is this product dicontinued?</p>
    <label for="registered" class="form-check-inline">
      <input type="radio" name="isDiscontinued" id="registered" [value]="true" [(ngModel)]="product.isDiscontinued"> Yes
    </label>
    <label for="notRegistered" class="form-check-inline">
      <input type="radio" name="isDiscontinued" id="notRegistered" [value]="false" [(ngModel)]="product.isDiscontinued">
      No
    </label>
  </div>
  <button class="btn btn-outline-success" [disabled]="!f.valid">Save</button>
</form>
